@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.ttf');
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
html {
    font: 14px/1 Roboto, Arial, sans-serif;
}
body {
    color: rgba(0, 0, 0, 0.87);
    background: rgb(238, 238, 238);
}

canvas {
    background: rgb(238, 238, 238);
    display: block;
    margin: 0 auto;
}

footer {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0;
}
footer a {
    color: rgba(0, 0, 0, 0.87);
}

#menu {
    text-align: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.12);
    margin: 0 0 1.5rem;
}
#menu span {
    padding: 1.5rem;
    display: inline-block;
    cursor: pointer;
}
